{% extends 'accountsBase.html'%}
{% block contant %}
<style>
.hidden-section {
    display: none; /* Hide the section by default */
  }
</style>


<main class="main">
    <div class="page-header text-center" >
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <form  method="POST" id="order_form" action="{% url 'order' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-7">
                           
                                <div class="row" class="'col-sm-7" >
                                    <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Home Address</h3><!-- End .card-title -->
                                                {% if main_address %}
                                                <p>{{ main_address.fullname }}<br>
                                                    {{ main_address.address1 }}<br>
                                                    {{ main_address.city }}<br>
                                                    {{ main_address.state }}<br>
                                                    {{ main_address.postalcode }}<br>
                                                    {{ main_address.country }}<br>

                                                    <label class='text-danger'><span>Delever Here</span>  </label>
                                                    <input type="radio" name="address_radio" value="{{main_address.id}}" checked>
                                                {% else %}
                                                <p>Curretly no address to delever</p><br>
                                                <a href="{% url 'user_profile' %}">Add Address for the profile<i class="icon-edit"></i></a></p>
                                                {% endif %}
                                                
                                            </div><!-- End .card-body -->
                                            
                                            <div class="card-body"> 
                                                {% if related_address %}
                                                {% for related_address in related_address %}
                                                <h3 class="card-title"> Address {{ forloop_counter }}</h3><!-- End .card-title -->
                                                 
                                                 <p>{{ related_address.fullname }}<br>
                                                     {{ related_address.address1 }}<br>
                                                     {{ related_address.city }}<br>
                                                     {{ related_address.postalcode }}<br>
                                                     <label class='text-danger'><span>Delever Here</span>  </label>
                                                    <input type="radio" name="address_radio" value="{{related_address.id}}" ><br>
                                                {% endfor %}
                                                {% endif %}
                                               

                                                
                                            </div><!-- End .card-body -->
                                            


                                        </div><!-- End .card-dashboard -->
                                  
                                </div><!-- End .row -->

                                <div class="row" class="col-sm-7">
                                
                                   
                                </div><!-- End .row -->

                                <div class="row col-sm-7" >
                                    

                                </div><!-- End .row -->

                               
                                {% if main_address %}
                                <div >
                                <a  href="{% url 'addcheckoutaddress'  %}"  >Ship to a different address?</a>
                                </div><!-- End .custom-checkbox -->

                                

                        </div><!-- End .col-lg-9 -->
                        {% endif %}
                        {% if main_address %}
                        <aside class="col-lg-5">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for item in cartitems %}
                                        <tr>
                                            <td><a href="#">{{ item.products.name }}</a></td>
                                            <td><div class="text-center" >{{ item.quantity }}</div></td>
                                            <td>{{ item.product_total }}</td>
                                        </tr>
                                         {% endfor %}
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        {% if cart.last_price != cart.total_price %}
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td class="text-center" ><del class="mr-1">{{cart.total_price}} </del>{{ cart.last_price }}</td>
                                            <td> <p class="text-success ml-1 ">coupon applied!</p></td>
                                        </tr><!-- End .summary-total -->
                                        {% else %}
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>{{cart.last_price}} </td>
                                        </tr><!-- End .summary-total -->
                                        {% endif %}

                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a role="button"  onclick="redirectToOrderView('cod')"  data-toggle="collapse"  href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                   
                                                    Cash On Delivery
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                            <div class="card-body">payment is secure when using the debit credit card for the payment</div>
                                          
                                            <button type="submit"  class="btn btn-outline-primary-2 btn-order btn-block">
                                                <span class="btn-text">Place Order</span>
                                                <span  class="btn-hover-text">Proceed to Checkout</span>
                                            </button>
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                             

                                    <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title"> 
                                                <a class="collapsed" onclick="redirectToOrderView('wallet')"  role="button"  data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                    From My Wallet
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        {% if cart.total_price > wallet %}
                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                            
                                            <div class="card-body text-danger">You have insufficient amount in your wallet to order this product.You can choose either Online Payment or COD for this order </div>
                                            
                                        </div><!-- End .collapse -->

                                        {% else %}
                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                    
                                            <div class="card-body">Pay from the wallet amount </div>
                                            <button type="submit"  class="btn btn-outline-primary-2 btn-order btn-block">
                                                <span class="btn-text">Place Order</span>
                                                <span  class="btn-hover-text">Proceed to Checkout</span>
                                            </button>
                                        </div><!-- End .collapse -->
                                        {% endif %}
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-4">
                                            <h2 class="card-title">
                                                
                                                <a class="collapsed" onclick="redirectToOrderView('onlinepayment')" role="button"  data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                    
                                                    Online Payment <small class="float-right paypal-link">Payment using Razorpay</small>
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4"data-parent="#accordion-payment">
                                            <div class="card-body">
                                                <div class="card-body">payment is secure when using the debit credit card for the payment</div>
                                                
                                                <button type="submit" id="rzp-button1"  class="btn btn-outline-primary-2 btn-order btn-block">
                                                    <span class="btn-text">Place Order</span>
                                                    <span  class="btn-hover-text">Proceed to Checkout</span>
                                                </button>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->
                                </div><!-- End .accordion -->
                                  
                            </div><!-- End .summary -->
                           
                        </aside><!-- End .col-lg-3 -->
                        {% endif %}
                    </div><!-- End .row -->
                    <input type="hidden" name="payment_method"  id="selected_payment"  value="">
                </form>
                <div class="row justify-content-center">
                    <div class="col-4">
                    <form action="{% url 'applyCoupon' cart.id %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group  align-items-center">
                            <input type="text" name="coupon" class="form-control form-control-sm" placeholder="Have coupon?" required>
                            <div class="input-group-append pb-1">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 ">
                       <p>Available Coupon ? <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a></p>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Available Coupons<h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% if coupons %}
                            {% for coupon in coupons %}
                            <div class="card justify-content-center">
                                <div class="card-body justify-content-center">
                                     <div class="row">
                                        <div class="col">{{forloop.counter}} </div>
                                        <div class="col">{{ coupon.name }}</div>
                                        <div class="col">Code:<span class="text-success">{{ coupon.coupon_code }}</span></div>
                                        <div class="col">Discount : {{ coupon.discount }}%</div>
                                     </div>
                                </div>
                              </div>
                            {% endfor %}
                            {% else %}
                            <div class="card">
                                <div class="card-body">
                                     Sorry,Coupons are not available!
                                </div>
                            </div>
                            {% endif %}

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>



            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
   

</main><!-- End .main -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

const radioButtons = document.querySelectorAll('input[type="radio"][name="group"]');

radioButtons.forEach(function(radioButton) {
  radioButton.addEventListener("click", function() {
    radioButtons.forEach(function(otherRadioButton) {
      if (otherRadioButton !== radioButton) {
        otherRadioButton.checked = false; // Uncheck other radio buttons
      }
    });
  });
});
</script>
<script>
    function redirectToOrderView(paymentMethod) {
        // Set the value of the hidden input field to the selected payment method
        document.getElementById('selected_payment').value = paymentMethod;
    }
</script>
<script>
    var options = {
        "key": "rzp_test_IG1RNOIklBgGwt", // Enter the Key ID generated from the Dashboard
        "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Trendz E-com",
        "description": "Online payment",
        "image": "https://example.com/your_logo",
        "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
         

        "handler": function (response){
            const form = document.getElementById('order_form');
             // Submit the form
             form.submit();
            // window.location.href = "{% url 'order' %}"

            // alert(response.razorpay_payment_id);
            // alert(response.razorpay_order_id);
            // alert(response.razorpay_signature)
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>

{% endblock %}
