{% extends 'accountsBase.html' %}
{% block contant %}
<style>  
/* Custom styles for the toast container */
.toast-container {
  min-width: 200px; /* Set the minimum width of the toast container */
  z-index: 9999; /* Set a high z-index value to position the toast above other elements */
  pointer-events: none; /* Ensure the toast container does not block clicks to underlying elements */
}

/* Custom styles for the toast */
.toast {
  width:200vh;
  height:7vh;
  font-size: 16;
  position: absolute; /* Position the toast absolutely */
  top: 0; /* Position the toast at the top */
  left: 0; /* Position the toast at the left */
  margin: 20px; /* Add margin to create spacing from the top */
  opacity: 0; /* Set the initial opacity to 0 (invisible) */
  transition: opacity 0.3s ease-in-out; /* Add a transition effect for opacity */
}

/* Show the toast when it is visible */
.toast.show {
  opacity: 1;
}
</style>

<div class="col-lg-9">
    <div class="toolbox mt-1">
        <div class="toolbox-right">
            <div class="toolbox-info">
                Showing <span> 6 of {{ count }}</span> Products
            </div><!-- End .toolbox-info -->
        </div><!-- End .toolbox-left -->

        <div class="toolbox-right">
            <div class="toolbox-sort">
                <label for="sortby"></label>
            </div><!-- End .toolbox-sort -->
        </div><!-- End .toolbox-right -->
    </div><!-- End .toolbox -->

    <div class="products mb-3 mx-auto">
        <div class=" container-fluid row "style="padding-left: 23vh;">

        {% for i in page %}
            <div class="col-6 col-md-4 col-lg-4 ">
                <div class="product product-7 ">
                    <figure class="product-media">
                        {% if i.price != i.original_price %}
                        <span class="product-label label-new">IN OFFER</span>
                        {% endif %}
                        <a href="{% url 'product_detail' i.id %}">
                            {% with image=i.images.first %}
                            {% if image %} 
                            <img src="{{ image.image.url }}" alt="Product image" class="product-image">
                            {% endif %} 
                            {% endwith %}
                        

                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                        </div><!-- End .product-action-vertical -->

                        <div class="product-action">
                            {% if user_exists %}
                             {% if i.stocks <= 0 %}
                              <a href=""   class="btn-product "><span>Out Of Stock</span></a>
                             {% else %}
                            <a href="{% url 'add_cart' i.id %}"  id="liveToastBtn"  class="btn-product btn-cart"><span>add to cart</span></a>
                            {% endif %}
                            {% else %}
                            <a href="" class="btn-product btn-cart" onclick="return confirm('You have to login to have a cart!')" ><span>add to cart</span></a>
                            {% endif %}
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{ i.category.name }}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="#">{{ i.name }}</a></h3><!-- End .product-title -->
                        <div class="product-price">
                            {% if i.price != i.original_price %}
                               <del>Rs.{{i.original_price}}</del>
                               <span class="ml-3"></span>
                            {% endif %}
                           Rs.{{ i.price }}
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 2 Reviews )</span>
                        </div><!-- End .rating-container -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-4 -->
            {% endfor %}
        </div>
    </div>

        


     <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
            <li class="page-item ">
                <a class="page-link page-link-prev" href="?page={{ page.previous_page_number }}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                </a>
            </li>
            {% endif %}
            <li class="page-item " aria-current="page"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
            <li class="page-item-total">of 6</li>
            {% if page.has_next %}
            <li class="page-item">
                <a class="page-link page-link-next" href="#" aria-label="Next">
                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav> 
</div>

    <div class="toast-container position-fixed  " style="top: 5vh; right: 26vh;">
        <div id="liveToast" class="toast bg-success text-white fs-3" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-body text-center">
           Succesfully Added To Cart!
          </div>
        </div>
      </div>
      
{% if user_exists %}
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const toastTriggers = document.querySelectorAll('.btn-cart');
      
          if (toastTriggers) {
            toastTriggers.forEach(trigger => {
              trigger.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent the default navigation behavior
      
                // Trigger the toast
                const toastLiveExample = document.getElementById('liveToast');
                const toastBootstrap = new bootstrap.Toast(toastLiveExample);
                toastBootstrap.show();
      
                // Get the URL from the href attribute and navigate to it after a short delay
                const url = trigger.getAttribute('href');
                setTimeout(() => {
                  window.location.href = url;
                }, 2000); // Adjust the delay time as needed (in milliseconds)
              });
            });
          }
        });
      </script>
{% endif %}
      

{% endblock %}