{% extends 'accountsBase.html' %}
{% block contant %}
{% load static %}
<style>
    /* styles.css */
#message {
  background-color: #4caf50; /* Green background color */
  color: white; /* White text color */
  padding: 10px; /* Add some padding */
  text-align: center; /* Center the text */
  display: none; /* Initially hide the message */
}

</style>

<main class="main">
    <!--                        breadcrumb-nav-->
    
    <!--            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">-->
    <!--                <div class="container d-flex align-items-center">-->
    <!--                    <ol class="breadcrumb">-->
    <!--                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
    <!--                        <li class="breadcrumb-item"><a href="#">Products</a></li>-->
    <!--                        <li class="breadcrumb-item active" aria-current="page">Default</li>-->
    <!--                    </ol>-->
    
    <!--                    <nav class="product-pager ml-auto" aria-label="Product">-->
    <!--                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">-->
    <!--                            <i class="icon-angle-left"></i>-->
    <!--                            <span>Prev</span>-->
    <!--                        </a>-->
    
    <!--                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">-->
    <!--                            <span>Next</span>-->
    <!--                            <i class="icon-angle-right"></i>-->
    <!--                        </a>-->
    <!--                    </nav>&lt;!&ndash; End .pager-nav &ndash;&gt;-->
    <!--                </div>&lt;!&ndash; End .container &ndash;&gt;-->
    <!--            </nav>&lt;!&ndash; End .breadcrumb-nav &ndash;&gt;-->
    
    
                <div class="page-content">
                    <div class="container">
                        <div class="product-details-top">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="product-gallery product-gallery-vertical">
                                        <div class="row">
                                            <figure class="product-main-image">
                                                <img id="product-zoom" src="{{ main_product.images.first.image.url }}" data-zoom-image="{{ main_product.images.first.image.url }}" alt="product image">
    
                                            </figure><!-- End .product-main-image -->
    
                                            <div id="product-zoom-gallery" class="product-image-gallery">
    
                                                {% for image in main_product.images.all %}
                                                <a class="product-gallery-item {% if forloop.first %}active{% endif %}" href="#" data-image="{{ image.image.url }}" data-zoom-image="{{ image.image.url }}">
                                                    <img src="{{ image.image.url }}" alt="product side">
                                                </a>
                                                {% endfor %}
    
    
    <!--                                            <a class="product-gallery-item" href="#" data-image="assets/images/products/single/2.jpg" data-zoom-image="assets/images/products/single/2-big.jpg">-->
    <!--                                                <img src="assets/images/products/single/2-small.jpg" alt="product cross">-->
    <!--                                            </a>-->
    
    <!--                                            <a class="product-gallery-item" href="#" data-image="assets/images/products/single/3.jpg" data-zoom-image="assets/images/products/single/3-big.jpg">-->
    <!--                                                <img src="assets/images/products/single/3-small.jpg" alt="product with model">-->
    <!--                                            </a>-->
    
    <!--                                            <a class="product-gallery-item" href="#" data-image="assets/images/products/single/4.jpg" data-zoom-image="assets/images/products/single/4-big.jpg">-->
    <!--                                                <img src="assets/images/products/single/4-small.jpg" alt="product back">-->
    <!--                                            </a>-->
                                            </div><!-- End .product-image-gallery -->
                                        </div><!-- End .row -->
                                    </div><!-- End .product-gallery -->
                                </div><!-- End .col-md-6 -->
    
                                <div class="col-md-6">
                                    <div class="product-details">
                                        <h1 class="product-title">{{main_product.name}}</h1><!-- End .product-title -->
    
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                        </div><!-- End .rating-container -->
    
                                        <div class="product-price">
                                            ₹{{main_product.price}}
                                        </div><!-- End .product-price -->
    
    <!--                                    <div class="product-content">-->
    <!--                                        <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing. Sed lectus. </p>-->
    <!--                                    </div>&lt;!&ndash; End .product-content &ndash;&gt;-->
    
    <!--                                    <div class="details-filter-row details-row-size">-->
    <!--                                        <label>Color:</label>-->
    
    <!--                                        <div class="product-nav product-nav-thumbs">-->
    <!--                                            <a href="#" class="active">-->
    <!--                                                <img src="assets/images/products/single/1-thumb.jpg" alt="product desc">-->
    <!--                                            </a>-->
    <!--                                            <a href="#">-->
    <!--                                                <img src="assets/images/products/single/2-thumb.jpg" alt="product desc">-->
    <!--                                            </a>-->
    <!--                                        </div>&lt;!&ndash; End .product-nav &ndash;&gt;-->
    <!--                                    </div>&lt;!&ndash; End .details-filter-row &ndash;&gt;-->
    
    <!--                                    <div class="details-filter-row details-row-size">-->
    <!--                                        <label for="size">Size:</label>-->
    <!--                                        <div class="select-custom">-->
    <!--                                            <select name="size" id="size" class="form-control">-->
    <!--                                                <option value="#" selected="selected">Select a size</option>-->
    <!--                                                <option value="s">Small</option>-->
    <!--                                                <option value="m">Medium</option>-->
    <!--                                                <option value="l">Large</option>-->
    <!--                                                <option value="xl">Extra Large</option>-->
    <!--                                            </select>-->
    <!--                                        </div>&lt;!&ndash; End .select-custom &ndash;&gt;-->
    
    <!--                                        <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a>-->
    <!--                                    </div>&lt;!&ndash; End .details-filter-row &ndash;&gt;-->
    
    <!--                                    <div class="details-filter-row details-row-size">-->
    <!--                                        <label for="qty">Qty:</label>-->
    <!--                                        <div class="product-details-quantity">-->
    <!--                                            <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required="" style="display: none;">-->
    <!--                                            <div class="input-group  input-spinner">-->
    <!--                                                <div class="input-group-prepend">-->
    <!--                                                    <button style="min-width: 26px" class="btn btn-decrement btn-spinner" type="button">-->
    <!--                                                        <i class="icon-minus"></i>-->
    <!--                                                    </button>-->
    <!--                                                </div>-->
    <!--                                                <input type="text" style="text-align: center" class="form-control " required="" placeholder="">-->
    <!--                                                <div class="input-group-append">-->
    <!--                                                    <button style="min-width: 26px" class="btn btn-increment btn-spinner" type="button">-->
    <!--                                                        <i class="icon-plus"></i>-->
    <!--                                                    </button>-->
    <!--                                                </div>-->
    <!--                                            </div>-->
    <!--                                        </div>&lt;!&ndash; End .product-details-quantity &ndash;&gt;-->
    <!--                                    </div>&lt;!&ndash; End .details-filter-row &ndash;&gt;-->
    
                                        <div class="product-details-action">
                                            <a href="#" class="btn-product btn-cart"><span>Buy now</span></a>
    
                                            <div class="details-action-wrapper">
                                                <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                                <a href="{% url 'add_cart1' main_product.id %}" onclick="checkLogin()"  class="btn-product icon-shopping-cart btn-cart-wishlist" title="Cart"><span>Add to Cart</span></a>
                                                <script>
                                                    function checkLogin() {
                                                        // Simulate a user not logged in (replace this with your actual login check)
                                                        const userLoggedIn = false;
                                            
                                                        if (!userLoggedIn) {
                                                            alert("Succesfully added to the cart!");
                                                        } else {
                                                            // Code to add the item to the cart when the user is logged in
                                                            // ...
                                                        }
                                                    }
                                                </script>
                                            </div><!-- End .details-action-wrapper -->
                                        </div><!-- End .product-details-action -->
    
                                        <div class="product-details-footer">

                                            <div class="product-cat mr-5">
                                                <span>Category:</span>
                                                <a href="#">{{main_product.category.name}}</a>
                                            </div><!-- End .product-cat -->

                                            <div class="product-cat">
                                                <span>Age:</span>
                                                <a href="#">{{main_product.varient}}</a>
                                            </div><!-- End .product-cat -->

                                            <div class="social-icons social-icons-sm">
                                                <span class="social-label">Share:</span>
                                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                                <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-desc-content">
                                            <h3>Product Information</h3>
                                            <p>{{main_product.discription}}</p>
        
        
        
                                        </div><!-- End .product-desc-content --><!-- End .product-details-footer -->
                                    </div><!-- End .product-details -->
                                </div><!-- End .col-md-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .product-details-top -->
    
                        <div class="product-details-tab">
                            <ul class="nav nav-pills justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                                </li>
    
                                <li class="nav-item">
                                    <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping &amp; Returns</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews (2)</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                    <div class="product-desc-content">
                                        <h3>Product Information</h3>
                                        <p>{{main_product.discription}}</p>
    
    
    
                                    </div><!-- End .product-desc-content -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                                    <div class="product-desc-content">
                                        <h3>Delivery &amp; returns</h3>
                                        <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                        We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                                    </div><!-- End .product-desc-content -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                    <div class="reviews">
                                        <h3>Reviews (2)</h3>
                                        <div class="review">
                                            <div class="row no-gutters">
                                                <div class="col-auto">
                                                    <h4><a href="#">Samanta J.</a></h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                    </div><!-- End .rating-container -->
                                                    <span class="review-date">6 days ago</span>
                                                </div><!-- End .col -->
                                                <div class="col">
                                                    <h4>Good, perfect size</h4>
    
                                                    <div class="review-content">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
                                                    </div><!-- End .review-content -->
    
                                                    <div class="review-action">
                                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                    </div><!-- End .review-action -->
                                                </div><!-- End .col-auto -->
                                            </div><!-- End .row -->
                                        </div><!-- End .review -->
    
                                        <div class="review">
                                            <div class="row no-gutters">
                                                <div class="col-auto">
                                                    <h4><a href="#">John Doe</a></h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                    </div><!-- End .rating-container -->
                                                    <span class="review-date">5 days ago</span>
                                                </div><!-- End .col -->
                                                <div class="col">
                                                    <h4>Very good</h4>
    
                                                    <div class="review-content">
                                                        <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                                    </div><!-- End .review-content -->
    
                                                    <div class="review-action">
                                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                    </div><!-- End .review-action -->
                                                </div><!-- End .col-auto -->
                                            </div><!-- End .row -->
                                        </div><!-- End .review -->
                                    </div><!-- End .reviews -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .product-details-tab -->
    
    
    
                        <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
    
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                                &quot;nav&quot;: false,
                                &quot;dots&quot;: true,
                                &quot;margin&quot;: 20,
                                &quot;loop&quot;: false,
                                &quot;responsive&quot;: {
                                    &quot;0&quot;: {
                                        &quot;items&quot;:1
                                    },
                                    &quot;480&quot;: {
                                        &quot;items&quot;:2
                                    },
                                    &quot;768&quot;: {
                                        &quot;items&quot;:3
                                    },
                                    &quot;992&quot;: {
                                        &quot;items&quot;:4
                                    },
                                    &quot;1200&quot;: {
                                        &quot;items&quot;:4,
                                        &quot;nav&quot;: true,
                                        &quot;dots&quot;: false
                                    }
                                }
                            }">
                            <!-- End .product -->
    
                            <!-- End .product -->
    
                            <!-- End .product -->
    
                            <!-- End .product -->
    
                            <!-- End .product -->
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1564px;">
    
                                {% for  product in related_products %}
                                <div class="owl-item active" style="width: 292.8px; margin-right: 20px;">
                                    <div class="product product-7 text-center">
                                <figure class="product-media">
                                    <span class="product-label label-new">New</span>
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{product.images.first.image.url}}" alt="Product image" class="product-image">
                                    </a>
    
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action-vertical -->
    
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->
    
                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{product.category.name}}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title">
                                        <a href="product.html">
                                            {{product.name}}
                                        </a>
                                    </h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                        ₹{{product.price}}
                                    </div>
                                    <!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 5 Reviews )</span>
                                    </div>
                                    <!-- End .rating-container -->
                                    <!-- End .product-nav -->
                                </div><!-- End .product-body -->
                            </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                           
                        </div><!-- End .owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .page-content -->
        </main>
    </body>
    </html>
   




{% endblock %}