{% extends 'accountsBase.html' %}
{% block contant %}

<main class="main">
    <div class="page-header text-center" >
        <div class="container">
            <h1 class="page-title">My Account</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link " id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="true">Account Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  " id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link " onclick="return confirmlogout()"  href="{% url 'user_logout' %}">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                <p>No order has been made yet.</p>
                                <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                             </div><!-- .End .tab-pane --- -->

                            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                <p>The following addresses will be used on the checkout page by default.</p>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Home Address</h3><!-- End .card-title -->
                                                {% if main_address %}
                                                <p>{{ main_address.fullname }}<br>
                                                    {{ main_address.address1 }}<br>
                                                    {{ main_address.city }}<br>
                                                    {{ main_address.state }}<br>
                                                    {{ main_address.postalcode }}<br>
                                                    {{ main_address.country }}<br>
                                                <a href="{% url 'edit_address' main_address.id %}">Edit <i class="icon-edit"></i></a>
                                                <a onclick=" return confirmDelete()" class="text-danger ml-4" href="{% url 'delete_address' main_address.id %}">Delete <i class="icon-edit text-danger "></i></a></p>
                                                {% else %}
                                                <p>Curretly no address to show</p><br>
                                                <a href="{% url 'add_address' 1 %}">Add Address<i class="icon-edit"></i></a></p>
                                                {% endif %}
                                                
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->

                                    <div class="col-lg-6">
                                       
                                        <div class="card card-dashboard">
                                            
                                            <div class="card-body"> 
                                                <h3 class="card-title"> Address 2</h3><!-- End .card-title -->
                                                 {% if related_address %}
                                                 <p>{{ related_address.fullname }}<br>
                                                     {{ related_address.address1 }}<br>
                                                     {{ related_address.city }}<br>
                                                     {{related_address.state }}<br>
                                                     {{ related_address.postalcode }}<br>
                                                     {{ related_address.country }}<br>
                                                <a href="{% url 'edit_address' related_address.id %}">Edit <i class="icon-edit"></i></a>
                                                <a onclick="return confirmDelete()" class="text-danger ml-4" href="{% url 'delete_address' related_address.id %}">Delete <i class="icon-edit text-danger "></i></a></p>
                                                {% else %}
                                                <a href="{% url 'add_address' 0 %}">Add another address <i class="icon-edit"></i></a>
                                                {% endif %}
                                               

                                                
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->
                                </div><!-- End .row -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade show active" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                <form action="{% url 'user_profile' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label> Username *</label>
                                            <input type="text" class="form-control" value="{{user.username}}"  placeholder="{{user.username}}"  name="name" required>

                                           
                                       <label>Email address *</label>
                                       <input type="email" class="form-control" value="{{user.email}}" placeholder="{{user.email}}" name="email" required>

                                       <label>Phone no.</label>
                                      <input type="text" name="phone" placeholder="{{user.phone}}" value="{{ user.phone }}" class="form-control">


                                    <button type="submit" class="btn btn-outline-primary-2 py-3">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                   
                                        </div><!-- End .col-sm-6 -->           
                                </form>
                                <div class="py-3"> <a href="{% url 'change_password' %}" > Change password? </a></div>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this address?");
    }
    function confirmlogout(){
        return confirm('Are you sure you want to logout')
    }
    </script>


{% endblock %}