{% extends 'accountsBase.html' %}
{% block contant %}
<div class="container d-flex justify-content-center my-5">
    <div class="card container d-flex justify-content-center" style="width: 25rem;">
        <img class="card-img-top" src="\media\wallet\wallet.jpg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title mb-2">My Wallet</h5>
             Balence : <span class="text-success">{{ wallet }} /-  </span>    
        </div>
        </div>
        
      </div>
{% endblock %}