{% extends 'adminBase.html' %}
{% block category_active %} active {%  endblock %}

{% block contant %} 
<div class="page-header">
    <h3 class="page-title"> Categories </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            +Add category
          </button></a></li>
      </ol>
    </nav>
  </div>
<!-- Nav category -->
<div class="modal fade" id ="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{% url 'add_category'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <label for="categoryName">Category Name:</label><br>
              <input type="text" id="categoryName" name="name"   required> <br>
      
               <label for="categoryImage">Category Image:</label>
              <input type="file" id="categoryImage" name="image"  accept="image/*" required> 
             
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add category</button>
      </form>
      </div>
    </div>
  </div>
</div>

  
  <!-- nav category ends -->

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">NO.</th>
        <th scope="col">Category</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
    {% for i in category %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ i.name }}</td>
        <td><img src="{{ i.image.url }}"> </td>
        <td><a><button type="button"  class="btn btn-primary" data-toggle="modal"  data-target="#editmodal{{ i.id }}">
          Edit
        </button></a></td>
        <td><a href="{% url 'delete_category' i.id %}" onclick="return confirm('Are you sure you want to delete?');" class="text-danger">Delete</a> </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
  


  {% for i in category %}
 <div class="modal fade" id="editmodal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">Category</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
           <form action="{% url 'edit_category' i.id %}" method="POST" enctype="multipart/form-data">
             {% csrf_token %}
               <label for="categoryName">Category Name:</label><br>
               <input type="text" id="categoryName" name="name" placeholder="{{i.name}}" value="{{i.name}}" required> <br>
       
               <label for="categoryImage">Category Image:</label><br>
               <input type="file" id="categoryImage" name="image" value="{{i.image}}"  accept="image/*"  required><br>
         </div>
         

       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Save category</button>
       </form>
       </div>
     </div>
   </div>
 </div>
 {% endfor %}


{% endblock %}