{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>Trendz - ecommerce</title>
   <meta name="keywords" content="HTML5 Template">
   <meta name="description" content="Molla - Bootstrap eCommerce Template">
   <meta name="author" content="p-themes">
   <!-- Favicon -->
   <link rel="apple-touch-icon" sizes="180x180" href="{% static 'accounts/assets/images/icons/apple-touch-icon.png' %}">
   <link rel="icon" type="image/png" sizes="32x32" href="{% static 'accounts/assets/images/icons/logo.png' %}">
   <link rel="icon" type="image/png" sizes="16x16" href="{% static 'accounts/assets/images/icons/logo.png' %}">
   <link rel="manifest" href="{% static 'accounts/assets/images/icons/site.html' %}">
   <link rel="mask-icon" href="{% static 'accounts/assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
   <link rel="shortcut icon" href="{% static 'accounts/assets/images/icons/favicon.png' %}">
   <meta name="apple-mobile-web-app-title" content="Molla">
   <meta name="application-name" content="Molla">
   <meta name="msapplication-TileColor" content="#cc9966">
   <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
   <meta name="theme-color" content="#ffffff">
   <!-- Plugins CSS File -->
   <link rel="stylesheet" href="{% static 'accounts/assets/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
   <!-- Main CSS File -->
   <link rel="stylesheet" href="{% static 'accounts/assets/css/style.css' %}">
   <style>
    .message-container {
    position: relative; /* or position: absolute; */
    font-size: large;
    color: aliceblue;
    top: 2vh;
    right: 0;
    width: 100%;
    background-color: rgba(190, 99, 99, 0.9); /* Semi-transparent white background */
    padding: 10px;
    z-index: 1000; /* Higher value to ensure it's above other content */
}
.close-icon {
    position: absolute;
    color: black;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

   </style>
</head>
<body>
    <div class="header">
    <div class="header-top">
        <div class="container">

            <div class="header-right">
                <ul class="top-menu">
                    <li>
                        <a href="#">Links</a>
                        <ul>
                            {% if user_exists %}
                            <li><a href="{% url 'wallet' %}"> My Wallet </a></li>
                            {% else %}
                            <li><a href="" onclick="return confirm('You have to login to have a wallet!')" > My Wallet </a></li>
                            {% endif %}
                            <li><a href="{% url 'aboutus' %}">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            {% if user_exists %}
                            <li> <a href="{% url 'user_profile' %}"><span class=“text-bold” >{{ user_exists }}</span> </a></li>
                            {% else %}
                            <li><a href="{% url 'user_login' %}"> <i class="icon-user"></i>Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->
   
 

    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static 'accounts/assets/images/logo.png' %}" alt="Trendz Logo" width="105" height="25">
                </a>

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="{% url 'home' %}" >Home</a>
                        </li>
                        <li>
                            <a href="{% url 'shop' %}" >Shop</a>

                        </li>
                        <li>{% if category %}
                            <a href="#" class="sf-with-ul">Product</a>
                            {% else %}
                            <a href="{% url 'home' %}" class="sf-with-ul">Product</a>
                            {% endif %}   
                            {% if category %}
                               <ul>
                                {% for i in category %}
                                <li>
                                    <a  href="{% url 'products' i.id %}" class="sf-with-ul">{{ i.name }}</a>
                                </li>
                                {% endfor %}
                               </ul>
                               {% endif %}

                        </li>
                        <li>
                            <a href="#" class="sf-with-ul">Pages</a>

                            <ul>
                                <li>
                                    <a href="{% static 'about.html' %}" class="sf-with-ul">About</a>

    
                                </li>
                                <li>
                                    <a href="{% static 'contact.html' %}" class="sf-with-ul">Contact</a>

                                </li>
                                <li><a href="{% url 'user_login' %}">Login</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" >Blog</a>

                        </li>
                        <li>
                            <a href="#" class="sf-with-ul">Elements</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-left -->
            {% if message %}
            <div class="message-container text-center">
                <span class="close-icon">X</span>
                {{message}}
            </div>
            {% endif %}
            <div class="header-right">
                <div class="header-search">
                    <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->

                <div class="dropdown cart-dropdown">
                    {% if user_exists %}
                    <a href="{% url 'cart' %}" class="dropdown-toggle" role="button" >
                        <i class="icon-shopping-cart"></i>  
                    </a>
                    {% else %}
                    <a href="" class="dropdown-toggle" role="button"  onclick="return confirm('You have to login to have a cart!')">
                        <i class="icon-shopping-cart"></i>  
                    </a>
                    {% endif %}
                    <a class="dropdown-toggle" role="button" ></a>

                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</div>

<!-- start of the form login -->
 {%block contant %}  {% endblock %}
    
    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="{% static 'accounts/assets/images/logo.png' %}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">About Trendz</a></li>
                                <li><a href="#">How to shop on Trendz</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="{% url 'user_login' %}">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2023 trendz. All Rights Reserved.</p><!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="{% static 'accounts/assets/images/payments.png' %}" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->


         <!-- Plugins JS File -->
         <script>
            document.addEventListener('DOMContentLoaded', function () {
                const closeIcons = document.querySelectorAll('.close-icon');
    
             closeIcons.forEach(closeIcon => {
                 closeIcon.addEventListener('click', function () {
            const messageContainer = this.closest('.message-container');
            messageContainer.style.display = 'none';
        });
    });
});
        
         </script>
    <script src="{% static 'accounts/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.countdown.min.js' %}"></script>


    <!-- Main JS File -->
    <script src="{% static 'accounts/assets/js/main.js' %}"></script>
    <script src="{% static 'accounts/assets/js/demos/demo-4.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.elevateZoom.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!-- Main JS File -->
    <script src="{% static 'accounts/assets/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



</body>

