{% extends 'adminBase.html' %}
{% block order_active %} active {%  endblock %}
{% block contant %}

<div class="page-header">
    <h3 class="page-title">Order details</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'adminorder' %}" class="btn btn-success">Back</a></li>
        </ol>
      </nav>
</div>
<div class="row" style="justify-content: center;">
    <div class="col-10 grid-margin">
        <div class="card">
            <div class="card-body">

                <div class="form-sample">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Order No.</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="invisibleInputBox" value="{{order.order_num}}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date Ordered</label>
                                <div class="col-sm-9"> 
                                    <input type="text" class="form-control" id="invisibleInputBox" value="{{order.date_created}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Customer Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="invisibleInputBox" value="{{order.user.username}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Payment Method</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="invisibleInputBox" value="{{ order.payment_type }}">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-9">
                                    <p>
                                        {{order.address.address1}},<br>
                                        {{order.address.city}}, {{order.address.state}},<br>
                                        {{order.address.postalcode}}, {{order.address.country}}<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Order Amount</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="invisibleInputBox" placeholder="{{order.total_price}}" value="{{order.total_price}}">
                                </div>
                            </div>
                        </div>
                    </div> 
                  
                </div>

            </div>
        </div>
    </div>
        <div style="padding: 1px;margin-bottom: 4px;"></div>
        <div  class="col-lg-12 page-title ">Products</div>
        
        {% for item in order.orderitems.all %}
        
        <div class="card mb-3">
            {{ forloop.counter }}
            <div class="card-body">
                <div class="form-sample">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Product Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="invisibleInputBox" value="{{item.products.name}}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"><img class="mb-2" style="width: 7vh;" src="{{ item.products.images.first.image.url }}" alt=""></div>
                    </div>
                       <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Quantity</label>
                                <div class="col-sm-9"> 
                                    <input type="text" class="form-control" id="invisibleInputBox" value="{{item.quantity}}">
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Unit Price</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="invisibleInputBox" value="{{item.products_price}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Total Price</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="invisibleInputBox" value="{{ order.total_price }}">
                                </div>
                            </div>
                        </div>   
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Age</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="invisibleInputBox" value="{{ item.varient }}">
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" >
                            <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Date Delivered</label>
                            <div class="col-sm-9">
                                {% if item.date_delivered  %}
                                <input type="text" class="form-control" id="invisibleInputBox" value="{{ item.date_delivered }}">
                                {% else %}
                                <input type="text" class="form-control" id="invisibleInputBox" value="Not yet Delivered!">
                                {% endif %}
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Order Status</label>
                                <div class="col-sm-9">
                                      <form method = 'post' action="{% url 'statuschange' item.id %}" >
                                       {% csrf_token %}
                                         <div class="form-row align-items-center">
                                            <div class="col-md-12 my-1">
                                                   <select class="custom-select mr-sm-2" name="orderstatus">
                                        {% for status in choices %}
                                         <option value="{{ status.1 }}" {% if item.order_status == status.1 %}selected{% endif %}>{{ status.1 }}</option>
                                        {% endfor %}
                                                   </select>
                                            </div>
                                        <div class="col-auto my-1">
                                          <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                           </div>
                                      </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div> 
                </div>
        {% endfor %}
    </div>
    </div>

  




{% endblock %}