{% extends 'accounts/profile/profileBase.html' %}
{% block profile %}
<div class="col-md-8 ">
    {% if order %}
    {% for i in order %}
    order id - {{ i.order_num }} 
    <div class="card border ">
     <table class="table table table-fixed"> 
        <tbody> 
            {% for items in i.orderitems.all  %}                   
            <tr>
            <td class="product-col col-md-5">
                    <div class="product">
                         <figure class="product-media">
                             <img src="{{ items.products.images.first.image.url }}" alt="Product image">
    
                        </figure>
                            <h3 class="product-title">
                              <a href="{% url 'orderdetails' i.id %}" >{{ items.products.name }} </a>
                             </h3><!-- End .product-title -->
                             </div><!-- End .product -->
                         </td>
                         <td class="price-col col">Rs.{{items.products.price}}</td>
                         <td class="quantity-col ">
                          <div class="cart-product-quantity">
                            {% if items.order_status == 'Order Cancelled' %}
                            <h2 class="product-title"><a class="text-danger">{{items.order_status}}</a></h2>
                            {% else %}
                            <h2 class="product-title"><a class="text-success">{{items.order_status}}</a></h2>
                            {% endif %}
                            </div>     
                </td>
            </a>         
            </tr>
            {% endfor %}
            
        </tbody>
    </table><br>
    </div>
    {% endfor %}                   
    {% else %}
    <p>No order has been made yet.</p><br>
    <a href="{% url 'home' %}" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
 </div><!-- .End .tab-pane --- -->
    {% endif %}


{% endblock %}